<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemonName | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading && pokemonDetails; else loadingTpl">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ pokemonDetails.name | titlecase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <img [src]="pokemonDetails.sprites.front_default" alt="Frente" />
          </ion-col>
          <ion-col size="6">
            <img [src]="pokemonDetails.sprites.back_default" alt="Costas" />
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list>
        <ion-item>
          <ion-label>Altura</ion-label>
          <ion-badge>{{ pokemonDetails.height }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Peso</ion-label>
          <ion-badge>{{ pokemonDetails.weight }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Tipos</ion-label>
          <ion-badge *ngFor="let t of pokemonDetails.types">{{ t.type.name }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Habilidades</ion-label>
          <ion-badge *ngFor="let h of pokemonDetails.abilities">{{ h.ability.name }}</ion-badge>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <strong>Estatísticas</strong>
          </ion-label>

          <div class="statistics">
            <ion-badge *ngFor="let s of pokemonDetails.stats">
              {{ s.stat.name }}: {{ s.base_stat }}
            </ion-badge>
          </div>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #loadingTpl>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>
