<ion-header>
  <ion-toolbar class="corporate-header">
    <ion-title class="brand-title">Pokémons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" scrollEvents="true">
  <ion-list class="business-directory">
    <div class="directory-container">
      <ion-item
        *ngFor="let pokemon of pokemons"
        class="business-card"
        lines="full"
        detail="false"
        (click)="openDetails(pokemon.name)"
      >
        <ion-thumbnail slot="start" class="profile-thumbnail">
          <img
            [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + extractId(pokemon.url) + '.png'"
            alt="{{ pokemon.name }}"
            class="profile-image"
          />
        </ion-thumbnail>

        <ion-label class="contact-info">
          <div class="contact-name">{{ pokemon.name | titlecase }}</div>
        </ion-label>

        <!-- Botão de favoritos -->
        <ion-button
          fill="clear"
          slot="end"
          class="favorite-button"
          (click)="toggleFavorite(pokemon.name); $event.stopPropagation()"
          aria-label="Marcar como favorito"
        >
          <ion-icon
            [name]="isFavorite(pokemon.name) ? 'heart' : 'heart-outline'"
            slot="icon-only"
            class="favorite-icon"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>

  <ion-spinner *ngIf="loading" name="crescent" class="loading-indicator"></ion-spinner>
</ion-content>
