<ion-header>
  <ion-toolbar class="corporate-header">
    <ion-title class="brand-title">Pokémons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar
  slot="end"
  [(ngModel)]="searchTerm"
  placeholder="Buscar Pokémon"
  debounce="300"
  class="searchbar-input"
></ion-searchbar>

<ion-content (ionScroll)="onScroll($event)" scrollEvents="true">
  <ion-list class="business-directory">
    <div class="directory-container">
      @for (pokemon of filteredPokemons; track pokemon.id) {
        <ion-item
          class="business-card"
          lines="full"
          detail="false"
          (click)="openDetails(pokemon.name)"
        >
          <ion-thumbnail slot="start" class="profile-thumbnail">
            <img
              [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + extractId(pokemon.url) + '.png'"
              alt="{{ pokemon.name }}"
              class="profile-image"
            />
          </ion-thumbnail>

          <ion-label class="contact-info">
            <div class="contact-name">{{ pokemon.name | titlecase }}</div>
          </ion-label>
          <ion-button
            fill="clear"
            slot="end"
            class="favorite-button"
            (click)="toggleFavorite(pokemon.name); $event.stopPropagation()"
            aria-label="Marcar como favorito"
          >
            <ion-icon
              [name]="isFavorite(pokemon.name) ? 'heart' : 'heart-outline'"
              slot="icon-only"
              class="favorite-icon"
            ></ion-icon>
          </ion-button>
        </ion-item>
      }
    </div>
    @if (!loading && filteredPokemons.length === 0) {
      <div class="no-results-message">
        <ion-icon name="search-outline" class="no-results-icon"></ion-icon>
        <p>Nenhum Pokémon encontrado.</p>
      </div>
    }
  </ion-list>

  @if (loading) {
    <ion-spinner name="crescent" class="loading-indicator"></ion-spinner>
  }
</ion-content>
